<div class="sticky-wrap">
    <div class="sticky-active">
        <div class="container">
            <div class="row justify-content-between align-items-center gx-60">
                <div class="col-auto">
                    <div class="header-logo"><a ><img src="assets/img/logo.svg" alt="logo"></a>
                    </div>
                </div>
                <div class="col-auto">
                    <nav class="main-menu menu-style1 d-none d-lg-block">
                        <ul>
                            <li><a >Accueil</a></li>
                            <li><a [routerLink]="['/rendez-vous']">Rendez-vous</a></li>
                            <li class="menu-item-has-children"><a >Service</a>
                                <ul class="sub-menu">
                                    <li><a >Services</a></li>
                                    <li><a >Service Details</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children mega-menu-wrap"><a >Pages</a>
                                <ul class="mega-menu">
                                    <li><a >Pagelist 1</a>
                                        <ul>
                                            <li><a >About Us</a></li>
                                            <li><a >Blog One</a></li>
                                        </ul>
                                    </li>
                                    <li><a >Pagelist 2</a>
                                        <ul>
                                            <li><a >Appointment</a></li>
                                            <li><a >Price Plan</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-auto">
                    <div class="header-btns">
                        <button class="vs-menu-toggle d-inline-block d-lg-none" type="button"><i
                                class="fal fa-bars"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>