<footer class="footer-wrapper footer-layout4">
    <div class="shape-mockup jump d-none d-xxl-block" data-right="4%" data-bottom="30%"><img
            src="assets/img/shape/flower-1-3.png" alt="flower"></div>
    <div class="shape-mockup jump-reverse d-none d-xxxl-block" data-left="1%" data-top="5%"><img
            src="assets/img/shape/b-s-1-3.png" alt="flower"></div>

    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between gx-70">
                <div class="col-lg-4">
                    <div class="widget footer-widget">
                        <div class="footer-logo mb-3"><img src="assets/img/logo-2.svg" alt="logo"></div>
                        <p class="footer-text">{{description}}</p>
                        <p class="footer-info"><a  class="text-inherit"><i
                                    class="far fa-phone-alt text-theme me-2"></i>{{phone}}</a><br><a
                                class="text-inherit" ><i
                                    class="fal fa-envelope text-theme me-2"></i>{{mail}}</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Important Links</h3>
                        <div class="row">
                            <div class="col-6">
                                <div class="menu-all-pages-container footer-menu">
                                    <ul class="menu">
                                        <li><a >SKINCARE</a></li>
                                        <li><a >MAKEUP</a></li>
                                        <li><a >FRAGRANCE</a></li>
                                        <li><a >HAIRCARE</a></li>
                                        <li><a >BATH & BODY</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="menu-all-pages-container footer-menu">
                                    <ul class="menu">
                                        <li><a >Serivces</a></li>
                                        <li><a >ABOUT US</a></li>
                                        <li><a >Price Plan</a></li>
                                        <li><a >CONTACT</a></li>
                                        <li><a >Our Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img"><a ><img
                                            src="assets/img/widget/recent-post-2-1.jpg" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" >Managing
                                            Partner along</a></h4>
                                    <div class="recent-post-meta"><a ><i
                                                class="fas fa-calendar-alt"></i>05 AUG, 2023</a></div>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img"><a ><img
                                            src="assets/img/widget/recent-post-2-2.jpg" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <h4 class="post-title"><a class="text-inherit" >Senior
                                            Counsels. Partnr along</a></h4>
                                    <div class="recent-post-meta"><a ><i
                                                class="fas fa-calendar-alt"></i>11 AUG, 2023</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row text-center">
                <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a >MAGNEVA</a>.
                    RANDRIANARISOA Ravaka Ny Aina ETU1638 - RASOLOFOSON Andriambelo Liantsoa ETU1650 </p>
            </div>
        </div>
    </div>
</footer><a [routerLink]="['#']" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>