<section class="vs-hero-wrapper ls-hero-layout6">
    <div class="vs-hero-carousel" data-height="880" data-container="1900">
        <div class="ls-slide" data-ls="duration:12000; transition2d:5; kenburnsscale:1.2;">
            <img width="237" height="299" src="assets/img/hero/leaf-2-1.png"
                class="ls-l ls-img-layer" alt="leaf" decoding="async"
                style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; border-style:solid; border-color:#000; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; left:-100px; top:480px; -webkit-background-clip:border-box;"
                data-ls="offsetxin:-200; durationin:2400; delayin:1500; easingin:easeOutQuint; parallax:true; parallaxlevel:4; parallaxaxis:x; static:forever;">
            <img width="314" height="219" src="assets/img/hero/leaf-2-2.png" class="ls-l ls-img-layer" alt="leaf"
                decoding="async"
                style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; border-style:solid; border-color:#000; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; left:650px; top:-50px; -webkit-background-clip:border-box;"
                data-ls="offsetyin:-200; durationin:2400; delayin:1500; easingin:easeOutQuint; parallax:true; parallaxlevel:6; parallaxaxis:x; static:forever;">
            <img width="299" height="173" src="assets/img/hero/leaf-2-3.png" class="ls-l ls-img-layer" alt="leaf"
                decoding="async"
                style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; border-style:solid; border-color:#000; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; left:1700px; top:150px; -webkit-background-clip:border-box;"
                data-ls="offsetxin:200; durationin:2400; delayin:1500; easingin:easeOutQuint; parallax:true; parallaxlevel:6; parallaxaxis:x; static:forever;">
            <p style='font-size:20px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:"DM Sans", sans-serif; left:275px; top:210px; line-height:20px; color:#121f38; -webkit-background-clip:border-box;'
                class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer"
                data-ls="offsetyin:-100; durationin:1500; delayin:400; easingin:easeOutQuint; offsetyout:-100; durationout:1500; easingout:easeOutQuint;">
                Spa &amp; Beauty Center</p>
            <h1 style='font-size:72px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:"Marcellus", serif; left:275px; top:250px; line-height:72px; color:#121f38; -webkit-background-clip:border-box;'
                class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer"
                data-ls="offsetxin:-150; durationin:1500; easingin:easeOutQuint; offsetxout:-200; durationout:1500; easingout:easeOutQuint;">
                Heal Body Mind</h1>
            <h1 style='font-size:72px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:"Marcellus", serif; left:275px; top:332px; line-height:72px; color:#121f38; -webkit-background-clip:border-box;'
                class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer"
                data-ls="offsetxin:-150; durationin:1500; delayin:300; easingin:easeOutQuint; offsetxout:-200; durationout:1500; easingout:easeOutQuint;">
                And Spa</h1>
            <p style='font-size:18px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:430px; left:275px; line-height:30px; font-family:"DM Sans", sans-serif; color:#555555; width:570px; white-space:normal; -webkit-background-clip:border-box;'
                class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer"
                data-ls="offsetxin:-200; durationin:1500; delayin:600; easingin:easeOutQuint; offsetxout:-200; durationout:1500; easingout:easeOutQuint;">
                Overnight Beauty Repair For Every Budget + Skin Detox. Drink That Boost Metabolism. Improved Health.
            </p>
            <div style='color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:530px; left:275px; font-family:"DM Sans", sans-serif; -webkit-background-clip:border-box;'
                class="ls-l ls-hide-tablet ls-hide-phone ls-html-layer"
                data-ls="offsetxin:-50; durationin:1500; delayin:800; easingin:easeOutQuint; offsetyout:150; durationout:1500; easingout:easeOutQuint;">
                <a class="vs-btn style9">Make Appointment<i
                        class="far fa-long-arrow-right"></i></a>
            </div><img width="907" height="896" src="assets/img/hero/spa-girl-2-3.png"
                class="ls-l ls-hide-phone ls-img-layer" alt="spa girl" decoding="async"
                style="font-size:36px; color:#000; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; border-style:solid; border-color:#000; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; left:850px; top:60px; width:880px; height:850px; -webkit-background-clip:border-box;"
                data-ls="parallax:true; parallaxlevel:2; parallaxaxis:x;">
        </div>
    </div>
</section>