<div *ngIf="review" class="testi-style5 remove-pt">
  <div class="testi-content">
    <div class="testi-rating">
      {{ review.note }} <i class="fas fa-star"></i>
    </div>
    <p class="testi-text">
      {{ review.description }}
    </p>
    <div class="testi-author">
      <div class="media-body">
        <h3 class="testi-name">{{ review.user.name }} {{ review.user.firstName }}</h3>
        <span class="testi-degi">{{ review.date | date : "YYYY/MM/dd" }}</span>
        <div class="mt-3">
          <button
          class="btn vs-btn"
          *ngIf="updatable"
          (click)="openUpdateReviewDialog()"
          >
          Mettre a jour
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
