<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-grid"></i>
                    <span class="nav-text">Exemples</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['exemple1']">Exemple 1</a></li>
                    <li><a [routerLink]="['exemple2']">Exemple 2</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-people"></i>
                    <span class="nav-text">Employés</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/employe/inscription']">Inscription</a></li>
                    <li><a [routerLink]="['manager/employe/liste']">Liste</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-brush"></i>
                    <span class="nav-text">Service</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/service/ajout']">Nouveau Service</a></li>
                    <li><a [routerLink]="['manager/service/liste']">Liste</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-receipt"></i>
                    <span class="nav-text">Type de dépense</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/typeDepense/ajout']">Nouveau Type de dépense</a></li>
                    <li><a [routerLink]="['manager/typeDepense/liste']">Liste</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-cash-stack"></i>
                    <span class="nav-text">Dépense</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/depense/ajout']">Nouveau dépense</a></li>
                    <li><a [routerLink]="['manager/depense/liste']">Liste</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-scissors"></i>
                    <span class="nav-text">Pièce</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/piece/ajout']">Nouvelle pièce</a></li>
                    <li><a [routerLink]="['manager/piece/liste']">Liste</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-bag-check"></i>
                    <span class="nav-text">Achat</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/achat/ajout']">Nouveau achat</a></li>
                    <li><a [routerLink]="['manager/achat/liste']">Liste</a></li>
                </ul>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-gift"></i>
                    <span class="nav-text">Offre spéciale</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['manager/offreSpecial/ajout']">Nouvelle offre</a></li>
                    <li><a [routerLink]="['manager/offreSpecial/liste']">Liste</a></li>
                </ul>
            </li>


            <li><a [routerLink]="['employe/accueil']">
                    <i class="bi bi-house"></i>
                    <span class="nav-text">Accueil</span>
                </a>
            </li>
            <li><a class="has-arrow" aria-expanded="false">
                    <i class="bi bi-calendar-event"></i>
                    <span class="nav-text">Rendez-Vous</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['employe/rendezVous/liste']">Liste</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>