<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="bi bi-grid"></i>
                    <span class="nav-text">Exemples</span>
                </a>
                <ul aria-expanded="false">
                    <li><a [routerLink]="['exemple1']">Exemple 1</a></li>
                    <li><a [routerLink]="['exemple2']">Exemple 2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>