<app-loader *ngIf="loading"></app-loader>

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Employé / <span class="text-primary"> {{title}}</span></li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ajouter ou modifier le salaire</h4>
            </div>
            <div *ngIf="employee" class="card-body">
                <div *ngIf="error" class="row">
                    <app-error [error]="error"></app-error>
                </div>
                <div *ngIf="success" class="row">
                    <app-success [success]="success"></app-success>
                </div>
                <div *ngIf="employee.salary !== null" class="row">
                    <div class="col-xl-6">
                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label"><b>Date salaire en cours: </b></label>
                            <div class="col-lg-6">
                                <label class="col-lg-4 col-form-label">{{employee.salary.date | date:'yyyy-MM-dd'}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3 row">
                            <label class="col-lg-4 col-form-label"><b>Montant salaire en cours: </b></label>
                            <div class="col-lg-6">
                                <label class="col-lg-4 col-form-label">{{employee.salary.amount | number:'1.2-2'}} Ar</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-validation row">
                    <form class="needs-validation" novalidate [formGroup]="applyForm" (submit)="addOrUpdateSalary()">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Date
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="date" class="form-control"
                                            formControlName="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">Montant(Ar)
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"
                                            formControlName="amount" required>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label"></label>
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary form-control">ENREGISTRER</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>