<header class="vs-header header-layout6">

    <div class="header-top">
      <div class="container">
        <div class="row justify-content-center justify-content-md-between align-items-center">
          <div class="col-auto text-center py-2 py-md-0">
            <div class="header-links style-white">
              <ul>
                <li class="d-none d-xxl-inline-block"><i class="far fa-map-marker-alt"></i>{{pays}}
                </li>
                <li><i class="far fa-phone-alt"></i><a>{{phone}}</a></li>
                <li><i class="far fa-envelope"></i><a>{{mail}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-auto d-none d-md-block">
            <div class="header-links style-white">
              <ul>
                <li class="d-none d-xxl-inline-block">
                  <i class="far fa-calendar-alt text-white"></i> {{ currentDate }}
                </li>
                <li><i class="far fa-clock text-white"></i> {{ currentTime }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-navbar></app-navbar>
  
  </header>

  <app-section1></app-section1>