<div class="card">
  <div class="card-body">
      <div class="row">
        <div class="col-7">
          <h6> {{ service.entity.name }} </h6>
          <p class="desc-text">
            Duree: {{ convertToReadableHour(service.entity.duration) }} h
          </p>
        </div>
        <div class="col-3">
          <h6 class="price">{{ service.entity.price | number: '1.2-2' }} Ar</h6>
        </div>
        <div class="col">
          <button  [ngClass]="{'plus-button': !isChecked, 'plus-button-clicked': isChecked}"  (click)="onClick()">
            <span *ngIf="isChecked; else elseBlock" class="minus-icon">
              -
            </span>
            <ng-template #elseBlock>
              <span class="plus-icon">
                +
              </span>
            </ng-template>
          </button>
        </div>
      </div>
  </div>
</div>
