<app-breadcrumb [breadcrumbChilds]="breadcrumChilds" [title]="title"> </app-breadcrumb>
<div class="container mt-5" *ngIf="services">
  <div class="row mb-5">
      <h4 class="mb-4"> Sélection des services </h4>
      <!-- <div class="scrollable-div"> -->
        <app-choose-service class=" row mb-3" *ngFor="let service of services" [service] = "service" [selectedServices]= "selectedServices"> </app-choose-service>
      <!-- </div> -->
  </div>

  <div class="row mb-5">
    <h4 class="mb-4"> Choix des professionnels et l'ordre </h4>
      <div  cdkDropList (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let service of selectedServices">
          <div class="mb-3 row">
            <app-choose-employee [service] = "service" [employees]="employees" cdkDrag> </app-choose-employee>
          </div>
        </ng-container>
      </div>
      <div class="row " >
        <p class="highlight"> {{ selectedServices.length }} Service(s), {{ duration }} h, {{ priceTotal | number:'1.2-2' }} Ar </p>
      </div>
  </div>

  <div class="mb-5">
    <h4 class="mb-4">Autres informations</h4>

    <form [formGroup]="otherInformation" class="appointment-form">

      <div class="row mb-3">
        <label for="date" class="col-1 col-form-label">Date</label>
        <div class="col-4">
          <input type="date" formControlName="date" id="date" autocomplete="off" class="input" placeholder="Choisir la date">
        </div>
      </div>

      <div class="row mb-3">
        <label for="time" class="col-1 col-form-label">L'heure</label>
        <div class="col-4">
          <input type="time" formControlName="hour" id="time"  class="input" >
        </div>
      </div>

      <app-error-alert [error]="error" ></app-error-alert>

      <div class="row">
        <div class="col-2">
          <button class="vs-btn" (click)="onClick()">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
