.input {
  height: 40px;
}

.highlight {
  color: var(--theme-color);
}

.scrollable-div {
  height: 500px; /* Set the height of the div */
  overflow-x: auto; /* Make the div scrollable only horizontally */
}
