<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Horaire de travail / <span class="text-primary"> {{title}}</span></li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{title}}</h4>
            </div>
            <div class="card-body">
                <div *ngIf="error" class="row">
                    <app-error [error]="error"></app-error>
                </div>
                <div *ngIf="success" class="row">
                    <app-success [success]="success"></app-success>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive-sm">
                        <thead class="thead-primary">
                            <tr>
                                <th scope="col" class="text-uppercase" *ngFor="let semaine of semaines">
                                    {{semaine.nameDay}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor="let semaine of semaines">
                                    <div *ngFor="let h of hourly">
                                        <ng-container *ngIf="h.day === semaine.day">
                                            <div class="schedule-item mb-2">
                                                <div class="schedule-details">{{ formatHour(h.hourStart) }} - {{
                                                    formatHour(h.hourEnd) }}</div>
                                                <div class="schedule-action">
                                                    <a data-bs-toggle="modal"
                                                        [attr.data-bs-target]="'#deleteHourly' + h._id"
                                                        class="btn btn-danger shadow btn-xs sharp"><i
                                                            class="fa fa-trash"></i></a>
                                                    <div class="modal fade" id="deleteHourly{{h._id}}"
                                                        style="display: none;" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Suppression d'un détail de
                                                                        votre horaire de travail</h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal">
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="mb-3 row">
                                                                        <p>Voulez-vous vraiment supprimer cet intervalle
                                                                            de temps? </p>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger light"
                                                                        data-bs-dismiss="modal">NON</button>
                                                                    <button type="button" class="btn btn-primary"
                                                                        (click)="deleteHourly(h._id)"
                                                                        data-bs-dismiss="modal">OUI</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>