<app-loader *ngIf="loading"></app-loader>

<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Service / <span class="text-primary"> {{title}}</span></li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{title}} des services </h4>
            </div>
            <div class="card-body">
                <div *ngIf="error" class="row">
                    <app-error [error]="error"></app-error>
                </div>
                <div class="table-responsive">
                    <table class="table primary-table-bordered">
                        <thead class="thead-primary">
                            <tr>
                                <th scope="col" class="text-uppercase">Nom</th>
                                <th scope="col" class="text-uppercase">Prix</th>
                                <th scope="col" class="text-uppercase">Commission</th>
                                <th scope="col" class="text-uppercase">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of services">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="w-space-no text-uppercase mx-1">{{service.name}}</span>
                                    </div>
                                </td>
                                <td>
                                    {{service.price | number:'1.2-2'}} Ar
                                </td>
                                <td>{{service.commission}} %</td>
                                <td>
                                    <div class="d-flex">
                                        <a [routerLink]="['/manager/service/détail', service._id]" title="Voir détail"
                                            class="btn btn-info shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>
                                        <a [routerLink]="['/manager/service/modifier', service._id]" title="Modifier" class="btn btn-success shadow btn-xs sharp me-1"><i
                                                class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>